.header{
  justify-self: center;
  z-index: 99999;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  display: flex;
  height: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.logo {
  gap: .6rem;
  display: flex;
}

.logo__img {
  width: 2.88em;
  height: 3.06em;
}

.logo__text {
  clip-path: inset(1px 0px);
}

.logo__text h1 {
  z-index: 99999;
  font-size: 1.8em;
  font-family: NoiGroteskMedium;
  padding:0;
  letter-spacing: -0.1px;
  font-weight: 700;
  position: relative;
  color: var(--clr-white);
}


.nav__menu {
  position: relative;
  text-align: center;
  border-radius: 8.3rem;
  padding: 1.5023em 2.5979em 1.4027em 1.7679em;
  background-color: white;
  list-style: none;
  display: flex;
  text-decoration: none;
  grid-column-gap: 1.8177em;
  justify-content: center;
}

.header__link {
  font-size: 0.83rem;
  gap: 0.6rem;
  position:relative;
  display: flex;
  text-decoration: none;
  clip-path: inset(2px 0px 0px 0px);
}

.header__link a {
  color: var(--clr-light-black);
}

.inactive {
  opacity:55%;
}

body {
  background-color: var(--clr-light);
}

#btn-arrow {
  opacity: 0;
  width: 1.46em;
  position: absolute;
  top: auto;
  bottom: auto;
  left: 0%;
  right: auto;
}
#dot-services {
  scale: 0.9;
}
#btn-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 100%;
  flex: none;
  opacity: 1;
}

#btn-text {
  right: 0;
  left: 0;
}

.header__dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--clr-light-black);
  border-radius: 100%;
  flex: none;
  opacity: 1;
}

.btn__header {
  grid-column-gap: 3.19em;
  color: #fff;
  cursor: pointer;
  background-color: #1d1d1f;
  border-radius: 6.25em;
  justify-content: center;
  align-items: center;
  padding: 1.81em 1.56em 1.69em 1.75em;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.3;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

#sataandagi {
  width: 6.9rem;
  height: 1.3rem;
  position: absolute;
}

#projects-active {
  left: 18px;
  position: absolute;
  top:16px;
  padding-top: 20px;
}

#about-active {
  top:16px;
  left: 18px;
  position: absolute;
}

#project-inactive {
  padding-bottom: 0;
}
.dropdown {
  position: fixed;
  width:100%;
  top: 0px;
}

.dropdown__wrapper {
  justify-content: space-evenly;
  background-color: var(--clr-light-black);
  display: flex;
  margin: 0;
  height: 30vh;
}

.dropdown__image {
  width: 4rem;
  height: 4rem;
}

.dropdown__wrapper p {
  color: var(--clr-light);
}
.dropdown__menu {
  list-style: none;
  color: var(--clr-light);
}

.header__dropdown {
  height: 8rem;
  width: 100%;
  background-color: var(--clr-light-black);
  border-top: 1px solid #4a4a4c;
  border-bottom: 1px solid #4a4a4c;
}

img1 {
  left: 6rem;
}

#img2,
#img3 {
  scale: 0;
}